.rating {
  margin-top: 10rem;
  margin-bottom: 4rem;
  width: 80%;
  height: 40vh;
  display: flex;
  gap: 4rem;

  div {
    flex: 1;
    width: 45%;
  }

  &__title {
    padding: 2rem;

    &--heading {
      width: 80%;
      font-size: 5rem;
      color: $color-main;
    }

    &--paragraph {
      width: 60%;
      font-size: 1.6rem;
      color: $color-gray;
    }
  }

  &__ratings {
    padding: 2rem;
    padding-top: 6rem;

    &--rat {
      margin: 0 auto;
      padding: 1.5rem 4rem;
      display: block;
      background-color: $color-secondary;
      border-radius: 1rem;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }

      &:first-child {
        transform: translateX(-5rem);
      }
      &:last-child {
        transform: translateX(5rem);
      }
    }

    &--icons {
      display: inline-block;
      margin-right: 2rem;

      img {
        margin: 0 0.12rem;
      }
    }

    &--text {
      display: inline-block;
      color: $color-main;
      font-size: 1.4rem;
      letter-spacing: 0.1rem;
    }
  }
}
