// main colors
$color-main: #4f1f51;
$color-secondary: #f5f3f6;
$color-tertiary: #823d72;

// regular colors
$color-black: #000;
$color-wight: #fff;
$color-gray: #777;
$color-dark: #333;
$color-light: #f4f4f4;
